*{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Lucida Console', Monaco, monospace;
}

nav{
    text-align: center;
    background-color: rgb(64, 63, 63); /* faut ajouter transparence */
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 15px;
}

nav a:hover{
    font-weight: bold;
}

.debut{
    width: 50%;
    height: 20 px;
}

.image{
    height: 200px;
    background-image: url(./fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image .debut{
    height: 100%;
}

.menu {
    height: 40px;
    list-style: none;
    padding: 0 px;
    background-color: red;
    width: 90%;
    position: relative;
    left: 60px;
  }
  
  .menu > li {
    width: 400px;
  }
  
  .menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    background: rgb(64, 63, 63);
    /*padding: 1px 1px;*/
    border-right: 1px solid #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  
  
  .menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  
  .menu .sousmenu li {
    margin: 0;
    padding: 0;
    border-top: 0px solid transparent;
    border-right: 1px solid transparent;
   /* position: relative;
    left: 5px;*/
    margin-left : 10px;
    width: 380px;
  }
  
  .menu .sousmenu li a:link, .menu .sousmenu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #808080;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
  }
  
  .menu li:hover .sousmenu {
    display: block;
  }

p{
    color: green;
}

footer{
    background-color: gray;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;
}
