*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    text-align: center;
    background-color: rgb(64, 63, 63); /* faut ajouter transparence */
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 15px;
}

nav a:hover{
    font-weight: bold;
}

.Bafa{
    background-color: aqua;
    border: 1px solid #000000;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0;
    text-align: center;
    transition: transform 0.3s, border-width 0.3s;
    position: relative;
    overflow: hidden;
    left: 40.75%;
    margin-top: 10px;
}

.Bafa p{
    margin-top: 45%;
}

.Bafa:hover {
  transform: scale(1.2); /* Agrandissement de l'élément */
  border-width: 5px; /* Épaisseur du bord augmentée */
  border-image: repeating-linear-gradient(
    45deg,
    #000,
    #000 10px,
    transparent 10px,
    transparent 20px)
}

.Bac{
    background-color: white;
    border: 1px solid #000000;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0;
    text-align: center;
}

.Bac p{
    margin-top: 45%;
}

.Bafd{
    background-color: white;
    border: 1px solid #000000;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0;
    text-align: center;
}

.Bafd p{
    margin-top: 45%;
}

.Langues{
    background-color: white;
    border: 1px solid #000000;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0;
    text-align: center;
}

.Langues p{
    margin-top: 45%;
}

.SNU{
    background-color: white;
    border: 1px solid #000000;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0;
    text-align: center;
}

.SNU p{
    margin-top: 45%;
}

footer{
    background-color: gray;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;
  }

  
  
