*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    text-align: center;
    background-color: rgb(64, 63, 63); /* faut ajouter transparence */
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 15px;
}

nav a:hover{
    font-weight: bold;
}

.sphere-container {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }

.bafa {
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Couleur de fond de la sphère */
    border-radius: 50%; /* Transforme le carré en sphère */
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    top: 110%;
    left: 175%;
  }

.bafa:hover {
    transform: scale(1.3); /* Agrandissement de la sphère lors du survol */
  }

.bafa:hover span {
    opacity: 0; /* Rend le texte initial invisible lors du survol de la sphère */
  }

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
  }

.bafa:hover .info {
    opacity: 1; /* Rend le texte alternatif visible lors du survol de la sphère */
  }


.infos{
    font-style: italic;
}



.bafd {
    width: 100%;
    height: 100%;
    background-color: limegreen; /* Couleur de fond de la sphère */
    border-radius: 50%; /* Transforme le carré en sphère */
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    top: 110%;
    left: 475%;
  }

.bafd:hover {
    transform: scale(1.3); /* Agrandissement de la sphère lors du survol */
  }

.bafd:hover span {
    opacity: 0; /* Rend le texte initial invisible lors du survol de la sphère */
  }

.bafd:hover .info {
    opacity: 1; /* Rend le texte alternatif visible lors du survol de la sphère */
}

.bac {
    width: 100%;
    height: 100%;
    background-color: red; /* Couleur de fond de la sphère */
    border-radius: 50%; /* Transforme le carré en sphère */
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    left: 325%;
    top: 30%;
  }

.bac:hover {
    transform: scale(1.3); /* Agrandissement de la sphère lors du survol */
  }

.bac:hover span {
    opacity: 0; /* Rend le texte initial invisible lors du survol de la sphère */
  }

.bac:hover .info {
    opacity: 1; /* Rend le texte alternatif visible lors du survol de la sphère */
}

.langues {
    width: 100%;
    height: 100%;
    background-color: purple; /* Couleur de fond de la sphère */
    border-radius: 50%; /* Transforme le carré en sphère */
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    top: 250%;
    left: 250%;
  }

.langues:hover {
    transform: scale(1.3); /* Agrandissement de la sphère lors du survol */
  }

.langues:hover span {
    opacity: 0; /* Rend le texte initial invisible lors du survol de la sphère */
  }

.langues:hover .info {
    opacity: 1; /* Rend le texte alternatif visible lors du survol de la sphère */
}

.snu {
    width: 100%;
    height: 100%;
    background-color: yellowgreen; /* Couleur de fond de la sphère */
    border-radius: 50%; /* Transforme le carré en sphère */
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    top: 250%;
    left: 400%;
  }

.snu:hover {
    transform: scale(1.3); /* Agrandissement de la sphère lors du survol */
  }

.snu:hover span {
    opacity: 0; /* Rend le texte initial invisible lors du survol de la sphère */
  }

.snu:hover .info {
    opacity: 1; /* Rend le texte alternatif visible lors du survol de la sphère */
}

footer{
    background-color: gray;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: -60px;
  }

  
  
