*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: url(nuit.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
  text-align: center;
  background-color: rgb(64, 63, 63); /* faut ajouter transparence */
  padding: 10px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}

nav a{
  color: white;
  font-size: 15px;
}

nav a:hover{
  font-weight: bold;
}

.start{
    text-align: center;
    color: #850606;
    font-size: 10VH;
}

.explications{
  color:white
}

.slider-1 {
    max-width: 600px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 5%;
  }

  .slider-1 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
  }

  .slider-1 p {
    background: #000;
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f1f1f1;
  }

@keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
} 

.slider-2 {
    max-width: 600px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 5%;
  }

  .slider-2 .slider {
    animation: slider-2 12s infinite ease-in-out;
    display: flex;
    flex-direction: row-reverse;
  }

  .slider-2 p {
    background: #000;
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f1f1f1;
  }

@keyframes slider-2 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(100%);
    }
    50%,
    70% {
      transform: translateX(200%);
    }
    75%,
    95% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(400%);
    }
} 

footer{
  background-color: gray;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  align-items: center;
}
