*{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Lucida Console', Monaco, monospace;
}

nav{
    text-align: center;
    background-color: rgb(64, 63, 63); /* faut ajouter transparence */
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 15px;
}

nav a:hover{
    font-weight: bold;
}

.debut{
    width: 50%;
    height: 20 px;
}

.image{
    height: 200px;
    background-image: url(./fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image .debut{
    height: 100%;
}

.info{
    background-color: rgb(159, 151, 151);
    display: flex;
    flex-direction: column;
}

.info:nth-child(1){
    align-items: center;
}

.item-1 {
    background-color: #3498BD;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    text-align: center;
    margin: 5%;
    display: grid;
    border-radius: 5px;
    width: 500%;

}

.item-2 {
    background-color: red;
    border-bottom: 5px solid rgb(165, 5, 5);
    text-shadow: 0px -2px rgb(165, 5, 5);
    text-align: center;
    margin: 5%;
    display: grid;
    border-radius: 5px;
}

.item-3 {
    background-color: green;
    border-bottom: 5px solid rgb(3, 74, 3);
    text-shadow: 0px -2px rgb(3, 74, 3);
    text-align: center;
    margin: 5%;
    display: grid;
    border-radius: 5px;
}

.item:active{
    transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    border-bottom: 1px solid;
}

p{
    color: green;
}

.exit footer{
    background-color: gray;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;
}
